# __Stock Data__

## *Calling Python libraries*

In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
import plotly.io as pio
pio.renderers.default = "iframe"

In [ ]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

### **Definition of the graph function**

In [ ]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()
    from IPython.display import display, HTML
    fig_html = fig.to_html()
    display(HTML(fig_html))

# **Questions**

### *Question 1: Use yfinance to Extract Stock Data*

In [3]:
Tesla=yf.Ticker("TSLA")

In [5]:
tesla_data=Tesla.history(period="max")

In [6]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

### _Question 2: Use Webscraping to Extract Tesla Revenue Data_

In [99]:
URL=' https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
response=requests.get(URL)
html_data=response.text

In [100]:
soup=BeautifulSoup(html_data,'html.parser')

In [110]:
tables = soup.find_all("table")

for table in tables:
    if "Tesla Quarterly Revenue" in table.text:
        tesla_table=table

In [111]:
tesls_revenue=pd.DataFrame(columns=["Date","Revenue"])

In [112]:
for row in tesla_table.find("tbody").find_all("tr"):
    cols=row.find_all("td")
    Date=cols[0].text
    Revenus=cols[1].text.replace("$","").replace(",","")
    tesls_revenue=pd.concat([tesls_revenue,pd.DataFrame({"Date":[Date],"Revenus":[Revenus]})], ignore_index=True)

In [113]:
tesls_revenue.head()

         Date Revenue Revenus
0  2022-09-30     NaN   21454
1  2022-06-30     NaN   16934
2  2022-03-31     NaN   18756
3  2021-12-31     NaN   17719
4  2021-09-30     NaN   13757

### *Question 3: Use yfinance to Extract Stock Data*